body {margin:0;
font-family: verdana;}

img:hover{
  -webkit-filter: sepia(1);
    -webkit-filter: sepia(100%);
    -moz-filter: sepia(100%);
    -ms-filter: sepia(100%);
    -o-filter: sepia(100%);
    filter: sepia(100%);
  }

a:link 
{ 
 text-decoration:none; 
} 

.menu{

	box-shadow: 0px 5px 5px rgba(0,0,0,1);
}

ul.menu {
	font-size: 23px;
	font-family: verdana;
	z-index: 2;
    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
    
    position: fixed;
    top: 0;
    width: 100%;
    text-decoration:none; 

}

li.menu {
    float: left;
    padding: 5px;  position: relative; height: 30px;
    padding-left: 20px;


}

li a.menu {
    display: block;
    color: red;
    
    padding: 14px 16px;
    text-decoration: none;
}

li.menu a:hover {
    background-color: red;
}
