/* Loading Image */
div.gallerie-loading {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 126px;
	height: 22px;
	margin: auto;
	z-index: 10000;
	background: url("loading.gif");
}

 a:hover img{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    color: gray;
-webkit-transition: 0.3s ease-in; // navegadores webkit, como Safari e Chrome
-moz-transition: 0.3s ease-in; // Firefox
-o-transition: 0.3s ease-in; // Opera
-moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* Image Index and Title Text */
.gallerie-text {
	max-width: 60%;
	min-width: 200px;
	margin: 0px 10px;
	vertical-align: bottom;
}

.gallerie-text div {
	width: 100%;
	text-overflow: ellipsis;
}

/* Image Title Text */
.gallerie-title {
	
}

/* Image Index */
.gallerie-index {
	
}

/* Gallerie Controls */
.gallerie-control {
	font-size: 30px;
	min-width: 40px;
	min-height: 40px;
	padding: 5px;
	margin: 0px;
	border: 2px solid transparent;
	vertical-align: top;
	
	border-radius: 100%;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	transition: all 500ms;
		-webkit-transition: all 500ms;
		-moz-transition: all 500ms;
		-ms-transition: all 500ms;
		-o-transition: all 500ms;
}

.gallerie-control:hover {
	background: #222;
	border: 2px solid blue;
	border-radius: 100%;
	cursor: pointer;
}

.gallerie-control-previous{
	
}

.gallerie-control-next {
}

/* Gallery Overlay */
.gallerie-overlay {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,0.9);
	z-index: 1000;
}

/* Image Box Container */
.gallerie-imagebox {
	width: 100%;
	height: 70%;
	position: relative;
	top: 0px;
	left: 0px;
	margin: 20px 0px;
}

.gallerie-imagebox img {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	border: 4px solid white;
	border-radius: 5px;
	
	transition: all 500ms;
		-webkit-transition: all 500ms;
		-moz-transition: all 500ms;
		-ms-transition: all 500ms;
		-o-transition: all 500ms;
}

.gallerie-imagebox:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

/* Caption Box Container */
.gallerie-captionbox {
	color: white;
	width: 100%;
	height: 50px;
	position: relative;
	top: 0px;
	left: 0px;
	text-align: center;
	padding: 5px 0px 15px 0px;
}

.gallerie-captionbox:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.gallerie-captionbox > div {
	display: inline-block;
}

/* Thumb Box Container */
.gallerie-thumbbox {
	height: 100px;
	min-width: 100%;
	position: relative;
	top: 0px;
	left: 0px;
	margin: 0px auto;
	text-align: center;
	float: left;
	white-space: nowrap;
}

.gallerie-thumbbox ul {
	position: relative;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	left: 0px;
}

.gallerie-thumbbox li {
	width: 75px;
	height: 75px;
	display: inline-block;
	text-align: center;
	margin: 0px 10px 0px 10px;
	cursor: pointer;
}

.gallerie-thumbbox img {
	max-width: 100%;
	max-height: 100%;
	border: 2px solid #fff;
	border-radius: 5px;
	opacity: 0.60;
	vertical-align: middle;
}

.gallerie-thumbbox-hover img {
	opacity: 1.0;
	border-color: #0ff;
}

.gallerie-thumbbox-selected img {
	opacity: 1.0;
	border-color: #ff0;
}


body {margin:0;
font-family: verdana;}

a:link 
{ 
 text-decoration:none; 
} 

.menu{
	
	box-shadow: 0px 5px 5px rgba(0,0,0,1);
	
}

ul.menu {
	font-size: 23px;
	font-family: verdana;
	z-index: 2;
    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    text-decoration:none; 

}

li.menu {
    float: left;
    padding: 5px;  position: relative; height: 30px;
    padding-left: 20px;


}

li a.menu {
    display: block;
    color: red;
    
    padding: 14px 16px;
    text-decoration: none;
}

li.menu a:hover {
    background-color: red;
  -webkit-transition: 0.3s ease-in;
-moz-transition: 0.3s ease-in;
-o-transition: 0.3s ease-in
}

#imagens img {

	z-index: 1;
	-moz-opacity: 0.8;
	opacity: 0.8 ;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	filter: alpha(opacity=80); 	
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=80)"; 	
	padding: 5px;
	
}

#imagens img:hover {
	z-index: 1;
	-moz-opacity: 1;
	opacity: 1 ;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	filter: alpha(opacity=100); 	
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=100)";
	
}

ul.thumb {
float: left; list-style: none; margin: 0; padding: 10px; width: 360px; }
ul.thumb li { margin: 0; padding: 5px; float: left; position: relative; width: 110px; height: 110px; }
ul.thumb li img { width: 100px; height: 100px; -ms-interpolation-mode: bicubic; border: 1px solid #ddd; padding: 5px; background: #f0f0f0; position: absolute; left: 0; top: 0; }
ul.thumb li img.hover { background:url(http://4.bp.blogspot.com/_p4Te9Li52fs/So9a2fSh2jI/AAAAAAAAAAc/VX0mAW1oYHc/thumb_bg.png) no-repeat center center; border: none; }

